body {
    overflow-x: hidden;
    min-height: 100vh;
    overflow-y: scroll;
    font-family: 'Roboto';
}

.wrapper {
    height: 100vh;
}

.intro-page {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#45B6FF, #E0FDFF, #FFFFFF);

}

.layer-intro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    height: auto !important;
}

.title-animation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.title {
    top: 20%;
    transform: translate(0, -20%);
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}

.leading-section {
    position: relative;
    background-color: #1D3557;
}

.leading-section-title-0-persen {
    /* background-color: #F1FAEE;
    color: #1D3557;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px; */
    font-weight: 700;
}

.divider-section {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #1D3557;
}

.title-section {
    font-size: 2.5rem;
    font-weight: 500;
    color: #F1FAEE;
}

.leading-section-subtitle {
    font-size: 1.2rem;
    color: #E0FDFF;
}

.leading-section-description {
    font-size: 1.2rem;
    color: #E0FDFF;
}

.quote-box {
    background-color: #457B9D;
    border-radius: 10px;
}

.quote {
    color: #F1FAEE;
    font-weight: 200;
    font-size: 1.8rem;
    font-style: italic;
}

.quote-box-role {
    width: auto;
    background-color: #457B9D;
    border-radius: 10px;
    margin-right: auto;
    display: inline-block;
}

.quote-box-role>p {
    font-weight: 500;
    font-size: 1.5rem;
    color: #F1FAEE;
}

.quote-box-role>p>span {
    font-weight: 500;
    font-size: 1.3rem;
    color: #1D3557;
}

.section-2-question {
    background-color: #E0FDFF;
    position: relative;
    height: 100vh;
    top: 0;

}

.section-2-question>.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-2-question>div>h1 {

    font-size: 5rem;
    color: #1D3557;
}

.section-2-background {
    position: absolute;
    top: 0;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.box-2 {
    width: 150px;
    height: 100vh;
}

.section-5 {
    background-color: #F1FAEE;
    position: relative;
    height: auto;
}

.section-5-question {
    background-color: #E0FDFF;
    position: relative;
    height: 100vh;
    top: 0;

}

.section-5-question>.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-5-question>div>h1 {

    font-size: 5rem;
    color: #1D3557;
}

.section-5-background {
    position: absolute;
    top: 0;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.box-5 {
    width: 150px;
    height: 100vh;
}

.circle-red {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #E63946;
}

.circle-white-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #F1FAEE;
}

.circle-dark-blue {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #1D3557;
}

.circle-white {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #E0FDFF;
}

.circle-light-blue {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #457B9D;
}

.question-span-1 {
    font-weight: 900;
    /* color: #E0FDFF;
    background-color: #1D3557; */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.question-span-2 {
    font-weight: 900;
    color: #E63946;
}

.chart {
    padding: 2rem;
    border-radius: 1rem;
    background: #1D3557;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
}

.description {
    color: #1D3557;
    font-size: 1.2rem;
}

.section-3 {
    background-color: #E0FDFF;
    position: absolute;
    top: 0;
}

.section-3 {
    background-color: #E0FDFF;
    position: relative;
}

.section-7 {
    background-color: #F1FAEE;
    position: relative;
    height: auto;
}

.section-7-question {
    background-color: #E0FDFF;
    position: relative;
    height: 100vh;
    top: 0;

}

.section-7-question>.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-7-background {
    position: absolute;
    top: 0;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.box-7 {
    width: 150px;
    height: 100vh;
}

.test-section {
    background-image: url("img/Mountain.png");
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    background-size: cover;
    position: relative;
    height: 100vh;
}

.test {
    height: 100vh;
    position: absolute;
}

.test-2 {
    height: 100vh;
    position: absolute;
}

.intro-character {
    background: linear-gradient(#45B6FF, #E0FDFF, #FFFFFF);
    background-size: cover;
    position: relative;
    height: 100vh;
}

.intro-character-background {
    position: absolute;
    top: 0;
    height: 100%;
    object-fit: cover;
}

.intro-character>.text {
    height: 100vh;
    position: absolute;
}

.intro-character>.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-character>.container>.chat-box>h2 {
    margin-bottom: 0 !important;
    margin-left: 10px;
    margin-right: 10px;
}

.chat-box {
    margin: 0;
    position: absolute;
    background-color: #E0FDFF;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    color: #1D3557;
}

.left-side {
    top: 20%;
    left: 20%;
    transform: translate(-20%, -20%);
}

.right-side {
    top: 20%;
    right: 20%;
    transform: translate(20%, -20%);
}

.narrator-side {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.border {
    border: 8px solid #1D3557 !important;
}

.round {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -8px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 32px solid;
    border-color: transparent transparent transparent #1D3557;
}

.tri-right.btm-left:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent #E0FDFF;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 20px solid;
    border-color: #1D3557 transparent transparent #1D3557;
}

.tri-right.btm-left-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 12px solid;
    border-color: #E0FDFF transparent transparent #E0FDFF;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 30px;
    bottom: -40px;
    border: 20px solid;
    border-color: #1D3557 #1D3557 transparent transparent;
}

.tri-right.btm-right-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 38px;
    bottom: -20px;
    border: 12px solid;
    border-color: #E0FDFF #E0FDFF transparent transparent;
}

.tri-right.border.btm-right:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -8px;
    bottom: -40px;
    border: 20px solid;
    border-color: #1D3557 #1D3557 transparent transparent;
}

.tri-right.btm-right:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 0px;
    bottom: -20px;
    border: 12px solid;
    border-color: #E0FDFF #E0FDFF transparent transparent;
}

.chat-box-img-acc {
    width: 80px;
    height: 80px;
    object-fit: contain;
}