body {
    overflow-x: hidden;
    min-height: 100vh;
    overflow-y: scroll;
    font-family: 'Roboto';
}

.wrapper {
    height: 100vh;
}

.intro-page {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#45B6FF, #E0FDFF, #FFFFFF);

}

.layer-intro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    height: auto !important;
}

.title-animation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.title {
    top: 20%;
    transform: translate(0, -20%);
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}

.leading-section {
    position: relative;
    background-color: #1D3557;
}

.leading-section-title-0-persen {
    /* background-color: #F1FAEE;
    color: #1D3557;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px; */
    font-weight: 700;
}

.divider-section {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #1D3557;
}

.title-section {
    font-size: 2.5rem;
    font-weight: 500;
    color: #F1FAEE;
}

.subtitle-section {
    font-size: 1.2rem;
    color: #E0FDFF;
}

.description-section {
    font-size: 1.2rem;
    color: #E0FDFF;
}

.quote-box {
    background-color: #457B9D;
    border-radius: 10px;
}

.quote {
    color: #F1FAEE;
    font-weight: 200;
    font-size: 1.8rem;
    font-style: italic;
}

.quote-box-role {
    width: auto;
    background-color: #457B9D;
    border-radius: 10px;
    margin-right: auto;
    display: inline-block;
}

.quote-box-role>p {
    font-weight: 500;
    font-size: 1.5rem;
    color: #F1FAEE;
}

.quote-box-role>p>span {
    font-weight: 500;
    font-size: 1.3rem;
    color: #1D3557;
}

.section-2 {
    background-color: #F1FAEE;
    position: relative;
    height: 100vh;
}

.section-2-question {
    background-color: #E0FDFF;
    position: relative;
    height: 100vh;
    top: 0;

    /* background-image: url("img/Background\ Poverty.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; */

}

.box {
    width: 150px;
    height: 100vh;
}

.section-2-question>.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-2-question>div>h1 {

    font-size: 5rem;
    color: #1D3557;
}

.question-span-1 {
    font-weight: 900;
    /* color: #E0FDFF;
    background-color: #1D3557; */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.question-span-2 {
    font-weight: 900;
    color: #E63946;
}

.chart {
    padding: 2rem;
    border-radius: 1rem;
    background: #1D3557;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
}

.description {
    color: #1D3557;
    font-size: 1.2rem;
}

.section-3 {
    background-color: #E63946;
    position: relative;
}